
.fa-solid{
    margin-right: 18px;
}

/* icons index.html */

.fa-1, .fa-2, .fa-3{
    padding: 3px 6px;
    border-radius: 50px;
    font-size: 12px;
    background-color: $colour-primary;
    color: #ffff;
    margin-left: -8px;
}
.fa-mobile-screen-button, .fa-list-ul, .fa-store{
    color: #afafaf;
}

/* Heart icons  */
.fa-solid.fa-heart{
    margin: 0;
    color: rgb(147,86,220);
    color: linear-gradient(344deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%, rgba(0,0,0,1) 100%);
    opacity: 0%;
        &:hover{
            transition: 0.2s ease-in-out;
            opacity: 100%;
        }
    
}


/* icons lapalettedugout.html */
