
.fa-solid{
    margin-right: 18px;
}

/* icons index.html */

.fa-1, .fa-2, .fa-3{
    padding: 3px 6px;
    border-radius: 50px;
    font-size: 12px;
    background-color: $colour-primary;
    color: #ffff;
    margin-left: -8px;
}
.fa-mobile-screen-button, .fa-list-ul, .fa-store{
    color: #afafaf;
}

/* Heart icons  */
.fa-solid.fa-heart{
    margin: 0;
    background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%, black 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
        &:hover{
            transition: 0.2s ease-in-out;
            opacity: 100%;
        }
    
}


/* icons Header restaurants pages */

.fa-arrow-left{
    margin-left: 20px;
}