@import "sass/utils/variables.scss";
@import "sass/base/typography.scss";

@import "sass/layout/icons.scss";

@import "sass/pages/index.scss";
@import "sass/pages/restaurantspage.scss";
    


body{
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}