@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-family: 'Roboto', sans-serif;
}

.fa-solid {
  margin-right: 18px;
}

/* icons index.html */
.fa-1, .fa-2, .fa-3 {
  padding: 3px 6px;
  border-radius: 50px;
  font-size: 12px;
  background-color: #9356DC;
  color: #ffff;
  margin-left: -8px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
  color: #afafaf;
}

/* Heart icons  */
.fa-solid.fa-heart {
  margin: 0;
  color: #9356dc;
  opacity: 0%;
}

.fa-solid.fa-heart:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 100%;
}

/* icons lapalettedugout.html */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-top: 15px;
  padding-left: 20px;
}

header img {
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
  padding-top: 5px;
}

.intro {
  text-align: center;
}

.intro__localisation {
  background-color: green;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 5px 5px -3px grey inset;
          box-shadow: 0 5px 5px -3px grey inset;
}

.intro__localisation--icon {
  margin: 0 15px 0 0;
}

.intro__localisation--icon .fa-location-dot {
  margin-right: 0;
}

.intro__description {
  background-color: #f6f6f6;
  padding: 40px 40px;
}

.intro__description--title {
  margin: 0;
  font-weight: bold;
  padding: 0 33px;
}

.intro__description--desc {
  font-weight: lighter;
}

.intro__description--btn {
  margin-top: 15px;
  font-size: 18px;
  color: #ffff;
  background: #9356dc;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%, black 100%);
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.intro__description--btn:hover {
  cursor: pointer;
}

.search {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

@media screen and (max-width: 1050px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 762px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search a {
  margin: 18px;
}

@media screen and (max-width: 1050px) {
  .search a {
    margin: 0 18px;
  }
}

.search__title {
  text-align: center;
  grid-column: span 3;
}

@media screen and (max-width: 762px) {
  .search__title {
    text-align: left;
    padding-top: 25px;
    margin-left: 18px;
  }
}

.search__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 300px;
  margin: 10px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 1050px) {
  .search__card {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 762px) {
  .search__card {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}

.search__card:hover {
  background-color: #f2eafb;
}

.search__card:hover .fa-solid {
  color: #9356DC;
}

.search__card:hover .whitenumber {
  color: #ffff;
}

.search__card--h3 {
  margin-right: 30px;
}

.restaurants {
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px;
      grid-template-columns: 350px 350px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 25px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  margin: auto;
  background-color: #f6f6f6;
}

@media screen and (max-width: 762px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.restaurants__title {
  text-align: center;
  grid-column: span 2;
}

@media screen and (max-width: 762px) {
  .restaurants__title {
    text-align: left;
    padding-top: 25px;
  }
}

.restaurants__card {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 76% 12% 12%;
      grid-template-rows: 76% 12% 12%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width: 762px) {
  .restaurants__card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.restaurants__card--img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 70%;
  grid-column: 1 2;
}

.restaurants__card--new {
  background-color: #99E2D0;
  margin: 0;
  -ms-grid-column: 2;
  grid-column: 2;
  height: 20px;
  color: #32b091;
  margin: 14px;
  padding: 6px 5px 6px 7px;
  z-index: 1;
  width: 66px;
}

.restaurants__card--title {
  margin: 0;
  padding-left: 15px;
  -ms-grid-row: 2;
  grid-row: 2;
}

.restaurants__card--name {
  margin: 0;
  -ms-grid-row: 3;
  grid-row: 3;
  padding-left: 15px;
}

.restaurants__card .fa-heart {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  font-size: 30px;
  text-align: center;
  width: 30px;
  height: 28px;
  margin-left: 43px;
  margin-top: 3px;
}

.footer {
  background-color: #363636;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  padding: 0 50px 20px 50px;
  margin-top: 0;
}

@media screen and (max-width: 762px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px 20px;
    row-gap: 5px;
  }
}

.footer a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  margin: auto;
}

@media screen and (max-width: 762px) {
  .footer a {
    margin: 0;
  }
}

.footer__logo {
  grid-column: span 4;
  width: 200px;
  margin: auto;
  padding: 10px;
}

.footer__logo img {
  height: 25px;
  fill: #ffff;
}

.footer .fa-solid {
  margin-right: 10px;
}

.footer__restaurant, .footer__partnership, .footer__legalesnotice, .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
}

.headrestaurantspage {
  height: 400px;
  width: 100%;
}

.headrestaurantspage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  max-width: 1000px;
  margin: auto;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  border-radius: 40px 40px 0 0;
  padding-bottom: 60px;
}

.menu__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px;
  margin-top: -50px;
}

.menu__header h2 {
  margin: 0;
  font-family: 'Shrikhand', cursive;
}

.menu__header .fa-heart {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 20px;
}

.menu form {
  text-align: center;
}

.listmenu {
  background-color: #f6f6f6;
  padding: 0 100px;
  margin: 40px 0;
}

@media screen and (max-width: 762px) {
  .listmenu {
    padding: 0 25px;
  }
}

.listmenu article {
  margin: 10px 0;
}

.listmenu article:hover .listmenu__card--check {
  width: 70px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.listmenu article:active .listmenu__card--check {
  width: 70px;
}

.listmenu article:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.listmenu h3 {
  margin: 0;
  font-weight: 200;
}

.listmenu__line {
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}

.listmenu__card {
  height: 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.listmenu__card--name {
  width: 100%;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

.listmenu__card--name h4, .listmenu__card--name p {
  margin: 0;
  padding: 3px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listmenu__card--name h4 {
  font-weight: bold;
}

.listmenu__card--name p {
  font-weight: 100;
}

.listmenu__card--price {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 13px;
}

.listmenu__card--check {
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.listmenu__card--check .fa-check-circle {
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

@media screen and (max-width: 762px) {
  .listmenu__card--check .fa-check-circle {
    padding: 14px;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */