@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html {
  font-family: 'Roboto', sans-serif;
}

.fa-solid {
  margin-right: 18px;
}

/* icons index.html */
.fa-1 {
  padding: 3px 6px;
  border-radius: 50px;
  font-size: 12px;
  background-color: #9356DC;
  color: #ffff;
  margin-left: -8px;
}

.fa-mobile-screen-button {
  color: #afafaf;
}

header {
  height: 50px;
  width: 100%;
  padding-top: 15px;
}

header img {
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
  padding-top: 5px;
}

.intro {
  text-align: center;
}

.intro__localisation {
  background-color: green;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 5px 5px -3px grey inset;
          box-shadow: 0 5px 5px -3px grey inset;
}

.intro__localisation--icon {
  margin: 0 15px 0 0;
}

.intro__description {
  background-color: #f6f6f6;
  padding: 40px 40px;
}

.intro__description--title {
  margin: 0;
  font-weight: bold;
  padding: 0 33px;
}

.intro__description--desc {
  font-weight: lighter;
}

.intro__description--btn {
  margin-top: 15px;
  font-size: 18px;
  color: #ffff;
  background: #9356dc;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%, black 100%);
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

@media screen and (max-width: 762px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search__title {
  text-align: center;
  grid-column: span 3;
}

@media screen and (max-width: 762px) {
  .search__title {
    text-align: left;
    padding-top: 25px;
  }
}

.search__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 300px;
  margin: 10px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 762px) {
  .search__card {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}

.search__card:hover {
  background-color: #f2eafb;
}

.search__card:hover .fa-mobile-screen-button {
  color: #9356DC;
}

.search__card--h3 {
  margin-right: 30px;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */