@import "sass/utils/variables.scss";
@import "sass/base/typography.scss";

@import "sass/layout/icons.scss";

@import "sass/pages/index.scss";
@import "sass/pages/restaurantspage.scss";
@import "sass/pages/loading";
    

html{
    height: 100%;
    margin: 0;
	padding: 0;
}

body{
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}