header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 5px;
    img {
        height: 60%;
        width: 60%;
        object-fit: contain;
        display: block;
        margin: auto;
        padding-top: 5px;
    }
}