header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
    img {
        height: 60%;
        width: 60%;
        object-fit: contain;
        display: block;
        margin: auto;
        padding-top: 5px;
    }
}

.intro{
    text-align: center;

        &__localisation{
            background-color: green;
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            background-color: #eaeaea;
            box-shadow: 0 5px 5px -3px grey inset;
                &--icon{
                    margin: 0 15px 0 0;
                        .fa-location-dot{
                            margin-right: 0;
                        }
                }
        }
        &__description{
            background-color: #f6f6f6;
            padding: 40px 40px;

                &--title{
                    margin: 0;
                    font-weight: bold;
                    padding: 0 33px;
                }
                &--desc{
                    font-weight: lighter;
                }
                &--btn{
                    margin-top: 15px;
                    font-size: 18px;
                    color: #ffff;
                    background: rgb(147,86,220);
                    background: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%, rgba(0,0,0,1) 100%);
                    padding: 15px 20px;
                    border: none;
                    border-radius: 50px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        &:hover{
                            cursor: pointer;
                        }
                }
        }
}

.search{
    max-width: 1000px;
    width:100%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6px;
    grid-row-gap:6px;
    @media screen and (max-width: 1050px){
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    @media screen and (max-width: 762px){
        display: flex;
        flex-direction: column;
    }
        a{
            margin: 18px;
            @media screen and (max-width: 1050px){
                margin: 0 18px;
            }

        }
        &__title{
            text-align: center;
            grid-column: span 3;
            @media screen and (max-width: 762px){
                text-align: left;
                padding-top: 25px;
                margin-left: 18px;
            }
        }
        &__card{
            display: flex;
            align-items: center;
            border-radius: 15px;
            width: 300px;
            margin: 10px;
            background-color: #f6f6f6;
            @media screen and (max-width: 1050px){
                margin: 0;
                width: 100%;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 762px){
                margin: 0;
                width: 100%;
                margin-bottom: 10px;
            }
                    &:hover{
                        background-color: lighten($colour-primary,35%);
                    }
                    &:hover .fa-solid{
                        color: $colour-primary;
                    }
                    &:hover .whitenumber{
                        color: #ffff;
                    }
            &--h3{
                margin-right: 30px;
            }
    }
}

.restaurants{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 25px;
    justify-items: center;
    justify-content: center;
    
    padding-bottom: 50px;
    margin: auto;
    background-color: #f6f6f6;
    @media screen and (max-width: 762px){
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    &__title{
        text-align: center;
        grid-column: span 2;
        @media screen and (max-width: 762px){
            text-align: left;
            padding-top: 25px;
        }
    }
    &__card{
        position: relative;
        width: 350px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 76% 12% 12%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        @media screen and (max-width: 762px){
            width: 100%;
            margin-bottom: 20px;
        }
        &--img{
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 70%;
        }
        &--new{
            background-color: $colour-tertiary;
            margin: 0;
            grid-column: 2;
            height: 20px;
            color: darken($colour-tertiary, 30%);
            margin: 14px;
            padding: 6px 5px 6px 7px;
            z-index: 1;
            width: 66px;
        }
        &--title{
            margin: 0;
            padding-left: 15px;
            grid-row: 2;
        }
        &--name{
            margin: 0;
            grid-row: 3;
            padding-left: 15px;
        }
        .fa-heart{
            grid-column: 2;
            grid-row: 2/4;
            font-size: 30px;
            text-align: center;
            width: 30px;
            height: 28px;
            margin-left: 43px;
            margin-top: 3px;
        }
    }
}

.footer{
    background-color: $colour-footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 0 50px 20px 50px;
    margin-top: 0;
    @media screen and (max-width: 762px){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 20px;
        row-gap: 5px;
    }
        a{
            width: fit-content;
            height: 20px;
            margin: auto;
            @media screen and (max-width: 762px){
                margin: 0;   
            }
        }
        &__logo{
            grid-column: span 4;
            width: 200px;
            margin: auto;
            padding: 10px;
                img{
                    height: 25px;
                    fill: #ffff;
                }
        }
        .fa-solid{
            margin-right: 10px;
        }
        &__restaurant, &__partnership, &__legalesnotice, &__contact{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffff;
            @media screen and (max-width: 762px){

            }
        }
}